<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <!-- Logo di sebelah kiri -->
        <a class="navbar-brand" href="#">
            <img src="assets/img/icon.jpg" alt="Logo" width="30" height="30" class="d-inline-block align-text-top">
            Jejaki Socmed
        </a>

        <!-- Tombol Sign In di sebelah kanan -->
        <div class="d-flex">
            <a href="/auth/signin" class="btn btn-outline-primary">Sign In</a>
        </div>
    </div>
</nav>